/*********************************/
/*********************************/
/* CSS elements used in the tagCloud */
/*********************************/
/*********************************/

.tags-display {
  font-size: 80%;
  text-align: right;
  line-height:125%;
  grid-column: 1;
}