/*********************************/
/*********************************/
/* CSS elements used in the tagCloud */
/*********************************/
/*********************************/

#tagsCloudFrame {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: -1;
}

.tags-display {
  margin: auto;
  text-align: right;
  line-height:125%;
  padding: 2*$unit-padding;
}

.tags {
  font-size: 80%;
}