//for wider screens
@media (min-width: 750px) {
  body.single {
    .mainGrid {
      margin-top: 5*$unit-padding;
      
     .post {
       padding-top: 5*$unit-margin;    
       padding-left: 3*$unit-margin;    
       margin-right: -3*$unit-margin;    
     }
    }  
  }
}

//for narrower screens
@media (max-width: 750px) {
  body.single {
      .mainGrid {
           padding: $unit-padding;
           margin: $unit-margin;
           font-size: 0.9em;
      }
  }
}

body.single {
  font-size: $font-size;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  .mainGrid {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10*$unit-margin;
      max-width: $max-width;
      line-height: 2em;
      transition: 1s ease-in-out;          
  }
  
  #comments {
    margin-top: 10*$unit-margin;
    display: none;
    input, textarea {
      font-size: 1.25em;
    }
    .button {
      float:right;
      background-color: darkgrey;
      color: white;
      border: darkgrey solid 2px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      &:hover, &:focus {
        background-color: black;
        border: black solid 2px;
      }
    }
  }

  .post {  
    border-top: 1px solid lightgrey;
    
    *::selection {
      background-color: black;
      color: white;
    }
    
    p {
      padding-top: 1em;
    }
    
    h1, h2, h3, h4, h5, h6 {
      padding-top: 1em;
    }
  }
}

#scrollTopBtn {
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 30px;
  font-size: small;
}