//for wider screens
@media (min-width: $max-width) {
  body.single {
    .mainGrid {
      margin-top: 5*$unit-padding;

     .post {
       padding-top: 5*$unit-margin;
       margin-right: -3*$unit-margin;
     }
    }
  }
}

//for narrower screens
@media (max-width: $max-width) {
  body.single {
      .mainGrid {
           padding: $unit-padding;
           margin: $unit-margin;
           font-size: $font-size-small-screen;

        .Title, .date, .post{
          margin-left: 2*$unit-margin;
        }
      }
  }
}

body.single {
  font-size: $font-size;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  .mainGrid {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10*$unit-margin;
      max-width: $max-width;
      line-height: 2em;
      transition: 1s ease-in-out;
  }

  .post {
    border-top: 2px solid;

    *::selection {
      background-color: black;
      color: white;
    }

    p {
      padding-top: 1em;
    }

    h1, h2, h3, h4, h5, h6 {
      padding-top: 1.5em;
      font-weight: 500;
      width: 100%;
      padding-bottom: $unit-padding;
      border-bottom: 2px solid whitesmoke;
    }
  }
}

#scrollTopBtn {
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 30px;
  font-size: small;
}
