{{ partial "header" . }}
<script type="text/javascript" src='/js/{{ index .Site.Data.js.hash "sortTable.js" }}'></script>

<body class="list-page">
  <script type="text/javascript" src='/js/{{ index .Site.Data.js.hash "setPageType.js" }}'></script>

<div id="wrapper-main"> <!-- main use for setting column width-->

<table id="mainText">
  <thead>
    <tr>
      <td>
        <h1 id="postTitle">
          <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Archive</a>
        </h1>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table id="archiveTable">
            {{ template "section-tree-nav1" .Site.Home }}
            {{ define "section-tree-nav1" }}
              {{ range .Sections}}
                {{ if eq .Title "Posts"}}
                    {{ range .Sections}}
                    <tr>
                      <td>
                        <a class="crosslink" href="{{ .RelPermalink }}">{{.Title}}</a>
                      </td>
                          {{ range .Pages }}
                            <td>
                              <a href="{{ .RelPermalink}}">{{ .Title }}</a>
                            </td>
                            <td>
                              {{ .Date.Format "2006-1-2" }}
                            </td>
                            <td>
                              {{ if .Params.tags}}
                                {{ range .Params.tags }}
                                  <a class="crosslink" href="/tags/{{ . | urlize }}">#{{.}}</a>
                                {{ end }}
                              {{ end }}
                            </td>
                          </tr>
                          <tr>
                            <td></td>
                          {{ end }}
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                    {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
        </table>
      </td>
    </tr>
  </tbody>

</table>

<table id="navBar">
  <tr>
    <td>
      <p style="opacity: 0">&#9664; Newer</p>
    </td>
    <td>
      <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Home</a>
    </td>
    <td>
        <p style="opacity: 0">Older &#9654;</p>
    </td>
  </tr>
</table>

{{ partial "footer" . }}
