{{ partial "header" . }}
<body class="list-page">
  <script type="text/javascript" src='/js/{{ index .Site.Data.js.hash "setPageType.js" }}'></script>

<div id="wrapper-main"> <!-- main use for setting column width-->

<table id="mainText">
  <tr>
    <td>
      <h2 id="postTitle">
        <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Archive</a>
      </h2>
    </td>
  </tr>
  <tr>
    <td>
      <table class="compact">
        {{ range where $.Site.Pages "Type" "post" }}
          <tr>
            <td>
              <a class="crosslink" href="/posts/{{ .Title | urlize }}">{{ .Title }}
            </td>
            <td>
              {{ .Date.Format "Jan 2, 2006" }}
            </td>
            <td>
              {{ if .Params.categories}}
                <a class="crosslink" href="/categories/{{ .Params.categories | urlize }}">{{ .Params.categories }}</a>
              {{ end }}
            </td>
            <td>
              {{ if .Params.tags}}
                {{ range .Params.tags }}
                  <a class="crosslink" href="/tags/{{ . | urlize }}">#{{.}}</a>
                {{ end }}
              {{ end }}
            </td>
          </tr>
        {{ end }}
      </table>
    </td>
  </tr>
  <tr>
    <td>

    </td>
  </tr>
</table>

<!-- <table id="navBar">
  <tr>
    <td>
      <h3><a class="crosslink" href="javascript:history.back()">Home</a></h3>
    </td>
  </tr>
</table> -->

{{ partial "footer" . }}
