{{ partial "header" . }}
<script type="text/javascript" src='/js/{{ index .Site.Data.js.hash "sortTable.js" }}'></script>

<body class="list-page">
  <script type="text/javascript" src='/js/{{ index .Site.Data.js.hash "setPageType.js" }}'></script>

<div id="wrapper-main"> <!-- main use for setting column width-->

<table id="mainText">
  <thead>
    <tr>
      <td>
        <h1 id="postTitle">
          <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Archive</a>
        </h1>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table id="archiveTable">
          <thead>
            <tr>
              <th class="sortDesc"> <a onclick="javascript:sortTable(0)"> Date </a></th>
              <th> <a onclick="javascript:sortTable(1)"> Title </a> </th>
              <th> <a onclick="javascript:sortTable(2)"> Category </a> </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            {{ range where $.Site.Pages "Type" "post" }}
              <tr>
                <td>
                  {{ .Date.Format "2006-1-2" }}
                </td>
                <td>
                  <a class="crosslink" href="{{ .RelPermalink }}">{{ .Title }}
                </td>
                <td>
                  <a class="crosslink" href="{{ .Parent.RelPermalink }}">{{ .CurrentSection.Title }}</a>
                </td>
                <td>
                  {{ if .Params.tags}}
                    {{ range .Params.tags }}
                      <a class="crosslink" href="/tags/{{ . | urlize }}">#{{.}}</a>
                    {{ end }}
                  {{ end }}
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>

</table>

<table id="navBar">
  <tr>
    <td>
      <p style="opacity: 0">&#9664; Newer</p>
    </td>
    <td>
      <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Home</a>
    </td>
    <td>
        <p style="opacity: 0">Older &#9654;</p>
    </td>
  </tr>
</table>

{{ partial "footer" . }}
