<script>
// This function is called when the comment is submitted. It removes the form-comments form and replaces it with a fading success message.
  function removeCommentForm(){
    $("#form-comments").fadeOut();
    $("#comments").find("h3").html("The blog is digesting your comment. It'll soon be unleashed upon the world!");
    $("#comments").find("h3").fadeOut(6000);
  }
</script>


<script language="javascript" type="text/javascript">
// This function submits the form-comment using ajax.
    function submitCommentsForm() {
      var postID = "{{ .UniqueID }}";
      var postTitle = "{{ .Parent.Title }}_{{ .Title }}";
      var name = $("#name-comments").val();
      var body = $("#body-comments").val();
      var action = 'https://api.staticman.net/v2/entry/apurvnakade/apurvnakade.github.io/master/comments';
      
      //validate comments form 
      if(name == ""){
        console.log("here");
        $("#name-comments").focus();
        return false;
      }
      if(body == ""){
        $("#body-comments").focus();
        return false;
      }
      
      var dataString = 'fields[postID]=' + postID + '&fields[postTitle]=' + postTitle + '&fields[name]=' + name + '&fields[body]=' + body;

      $.ajax({
      type: "POST",
      url: action,
      data: dataString,
      success: removeCommentForm()
      });
    }
</script>

<form id="form-comments">
  <input id="name-comments" type="text" placeholder="Name"  style="width:50%" autofocus tabindex="1"> 
  <input class="button" type="button" value="Submit" style="width:20%" onclick="javascript:submitCommentsForm()" tabindex="3">
  <textarea id="body-comments" placeholder="Your message. Feel free to use Markdown. And be nice." rows="6"  style="width:99.5%" tabindex="2"></textarea>
</form>
