{{ partial "header" . }}
{{ partial "siteMap" .}}

  <table class="mainText two-column-page wide">
    <tr>
      <td>
        <div class="Title"><a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">{{ .Title}}</a></div>
        <br>
      </td>
    </tr>


    {{ range sort .Paginator.Pages }}
      <tr>
        <td class = "wide-screen-only">
          <a class="crosslink" href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}(D){{ end }}</a>
          <p class="date">{{ .Date.Format "January 2" }}</p>
        </td>

        <td class="post">
          <div class = "narrow-screen-only">
            <h3><a class="crosslink" href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}(D){{ end }}</a></h3>
            <p class="date">{{ .Date.Format "January 2" }}</p>
          </div>

          {{ if gt (len .Summary) 400 }}
            {{slicestr .Summary 0 400 | plainify | safeHTML }}
          {{ else }}
            {{ .Summary | plainify | safeHTML }}
          {{ end }}

          <span class="read-more">
             <a class="crosslink" href="{{ .RelPermalink }}">
              . . . Read more</a>
          </span>

          <div class="tags-display">
            <a class="crosslink" href="{{ .Parent.RelPermalink }}">{{ .CurrentSection.Title }}</a>

            {{ if .Params.tags}}
              {{ range .Params.tags }}
                <a class="crosslink" href="/tags/{{ . | urlize }}">#{{.}}</a>
              {{ end }}
            {{ end }}
          </div>
          <br>
          <br>
        </td>
      </tr>
    {{ end }}
  </table>

{{ partial "navBar" . }}
{{ partial "footer" . }}
