{{ partial "header" .}}

<body class="list">
    <div id="mainGrid" class="mainGrid">
      <div class="Title">
        <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">{{ .Title }}</a>
      </div>


      {{ range sort .Paginator.Pages }}
      <div class="cell">
        <a class="crosslink" href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}(D){{ end }}</a>
        <br>
        <a class="crosslink categories date" href="{{ .Parent.RelPermalink }}">{{ .CurrentSection.Title }}</a>
        <div class="post" onclick='javascript:window.open("{{ .Permalink  }}","_self");'>
          {{ if gt (len .Summary) 300 }} {{slicestr .Summary 0 300 | plainify | safeHTML }} {{ else }} {{ .Summary | plainify | safeHTML }} {{ end }}
          <a class="crosslink read-more" href="{{ .RelPermalink }}">
                . . . Read more</a>
        </div>

        <div class="tags-display">
          {{ if .Params.tags}} {{ range .Params.tags }}
          <a class="crosslink tags" href="/tags/{{ . | urlize }}">#{{.}}</a> {{ end }} {{ end }}
        </div>

      </div>
      {{ end }} {{ partial "tagCloud" .}}
    </div>


    <div class="footer">
      {{ partial "navBar" .}} {{ partial "siteMap" .}}
    </div>
  </body>

</html>
