{{ partial "header" . }}

<body class='single'>
  <div class="mainGrid">

    <div class="Title">
      <a class="crosslink" href="{{ .Site.BaseURL | relURL}}">{{ .Title }}</a>
    </div>

    <p class="date">{{ .Date.Format "January 2, 2006" }}
      <br> Filed under <a class="crosslink categories" href="{{ .Parent.RelPermalink }}" style="display:inline">{{ .CurrentSection.Title }}</a>
    </p>
    <div class="post">{{ .Content }}</div>

    {{ if .Params.tags}}
    <div class="tags-display">
      {{ range .Params.tags }}
      <a class="crosslink tags" href="/tags/{{ . | urlize }}">#{{.}}</a> {{ end }}
    </div>
    {{ end }}
  </div>
  {{ partial "siteMap" .}}

  <div class="footer">
    {{ partial "navBar" . }}
    {{ partial "social" . }}
  </div>

</body>

</html>
