<table id="navBar">
  <tr>
    <td>
      {{ if .Paginator.HasPrev }}
        <a class="crosslink" href="{{ .Paginator.Prev.URL | relURL }}">&#9664; Prev</a>
      {{ else }}
          <p style="opacity: 0">&#9664; Prev</p>
      {{ end }}
    </td>
    <td>
      <a class="crosslink" href="/pages/archive">Archive</a>
    </td>
    <td>
      {{ if .Paginator.HasNext }}
        <a class="crosslink" href="{{ .Paginator.Next.URL | relURL }}">Next &#9654;</a>
      {{ else }}
        <p style="opacity: 0">Next &#9654;</p>
      {{ end }}
    </td>
  </tr>
</table>
