{{ if eq .Type "post"}}
  <table id="navBar">
     <tr>
      <td>
          {{ if .PrevInSection }}
            <a class="crosslink" href="{{.PrevInSection.RelPermalink}}">&#9664; Older</a>
          {{ else }}
            <p style="opacity: 0">&#9664; Older</p>
          {{ end }}
      </td>
      <td>
        <a class="crosslink" href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a>
        |
        <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Home</a>
      </td>
      <td>
          {{ if .NextInSection }}
            <a class="crosslink" href="{{.NextInSection.RelPermalink}}">Newer &#9654;</a>
          {{ else }}
            <p style="opacity: 0">Newer &#9654;</p>
          {{ end }}
      </td>
    </tr>
  </table>
  
{{ else }}

  <table id="navBar">
     <tr>
       <td></td>
      <td>
        {{ if gt .Paginator.PageNumber 5}}
        <a class="crosslink" href="{{ $.RelPermalink}}page/1">
          &#9664; &#9664;
        </a>... 
        {{ end }}
        {{ range seq (sub .Paginator.PageNumber 5) (sub .Paginator.PageNumber 1)}}
          {{ if gt . 0}}
            <a class="crosslink" href="{{ $.RelPermalink}}page/{{ . }}">
              {{ . }}
            </a> | 
        {{ end }}{{ end }}
        <a href="javascript:showSiteMap()">Archive</a>
        {{ if not .IsHome }}
            | <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Home</a>
        {{ end }}
        {{ range seq (add .Paginator.PageNumber 1) (add .Paginator.PageNumber 5)}}
            {{ if le . $.Paginator.TotalPages}}
            | <a class="crosslink" href="{{ $.RelPermalink}}page/{{ . }}">
              {{ . }}
            </a>  
        {{ end }}{{ end }}
        {{ if gt .Paginator.PageNumber (add .Paginator.PageNumber 5)}}
         ...<a class="crosslink" href="{{ $.RelPermalink}}page/{{$.Paginator.TotalPages}}">
          &#9654; &#9654;
        </a>
        {{ end }}
      </td>
      <td></td>
    </tr>
  </table>
{{ end }}
