<table id="navBar">
   <tr>
    <td>
        {{ if .PrevInSection }}
          <a class="crosslink" href="{{.PrevInSection.RelPermalink}}">&#9664; {{.PrevInSection.Title}}</a>
        {{ end }}
    </td>
    <td>

      <a href="javascript:showSiteMap()">Archive</a>
      |
      <a class="crosslink" href="{{ $.Site.BaseURL | relURL }}">Home</a>
      |
      <a class="crosslink" href="{{ .Parent.RelPermalink }}">{{ .CurrentSection.Title }}</a>
    </td>
    <td>
        {{ if .NextInSection }}
          <a class="crosslink" href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Title}} &#9654;</a>
        {{ end }}
    </td>
  </tr>
</table>
