{{ $myURL := .Permalink }}
<div id="siteMap" onclick="hideSiteMap()">
  <table class="mainText">
        <thead>
          <tr>
            <th colspan=10 class="Title">
              <a class="crosslink" href="{{ .Site.BaseURL | relURL}}">Archive</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{ range .Site.Home.Sections}}
            {{ if eq .Title "Posts"}}
                {{ range .Sections}}
                <tr>
                  {{ if eq .Permalink $myURL}}
                  <td class="arrow">
                    ▶ {{ .Title }}
                  {{ else }}
                  <td>
                    <a class="crosslink" href="{{ .RelPermalink}}">
                      {{ .Title }}
                    </a>
                  {{ end }}
                </td>
                      {{ range .Pages }}
                          {{ if eq .Permalink $myURL}}
                          <td class="arrow">
                            ▶ {{ .Title }}
                          {{ else }}
                          <td>
                            <a class="crosslink" href="{{ .RelPermalink}}">
                              {{ .Title }}
                            </a>
                          {{ end }}
                        </td>
                        <td>
                          <span class="wide-screen-only">{{ .Date.Format "Jan 01, 2006" }}</span>
                        </td>
                        <td>
                          {{ if .Params.tags}}
                            {{ range .Params.tags }}
                              <a class="crosslink" href="/tags/{{ . | urlize }}">#{{.}}</a>
                            {{ end }}
                          {{ end }}
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                      {{ end }}
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                {{ end }}
            {{ end }}
          {{ end }}
        </tbody>
  </table>
</div>
