<!-- need more comments on this page,
- this is currently very hard to parse
-->

{{ $myURL := .Permalink }}
<div id="siteMap" onclick="hideSiteMap()">
  {{ if ne .Type "post"}}
  <div id="marker" onclick="javascript:showSiteMap()">A<br>R<br>C<br>H<br>I<br>V<br>E</div>
  {{ end }}


<table>
  <tr>
    <td><div class="genericGrid">
    {{ range where .Site.Home.Sections "Title" "Posts"}}
    {{ range .Sections.ByWeight.Reverse}}
        {{ $topLevelSection := .Title}}
        {{ range .Sections.ByWeight.Reverse}}
          {{ if .Pages}}
            <div class="column-1"> 
              {{$topLevelSection}}/{{- template "add_content" (slice $myURL .Permalink .Title "categories") -}} </div>
            {{ range .Pages }}
                <div class="column-2">{{ template "add_content" (slice $myURL .Permalink .Title "")}}</div>
                <div class="wide-screen-only column-3">{{ .Date.Format "Jan 02" }}</div>
                <div class="column-4">{{ range .Params.tags}}
                      {{ template "add_content" (slice $myURL (printf "%stags/%s/" $.Site.BaseURL (. | urlize) ) (printf "#%s" .) "tags") }}
                      {{ end }}
              </div>
            {{ end }}
            {{ end }}
        {{ end }}
        {{ if .Pages}}
        <div class="column-1"> {{ template "add_content" (slice $myURL .Permalink .Title "categories")}} </div>
        {{ range .Pages }}
            <div class="column-2">{{ template "add_content" (slice $myURL .Permalink .Title "")}}</div>
            <div class="wide-screen-only column-3">{{ .Date.Format "Jan 02" }}</div>
            <div class="column-4">{{ range .Params.tags}}
                  {{ template "add_content" (slice $myURL (printf "%stags/%s/" $.Site.BaseURL (. | urlize) ) (printf "#%s" .) "tags") }}
                  {{ end }}
          </div>
        {{ end }}
        {{ end }}
    {{ end }}
    {{ end }}
    </div></td>
    <td class="wide-screen-only"><div class="genericGrid">
    {{ range where .Site.Pages.ByDate.Reverse "Type" "post"}}
      <div class="column-1">{{ template "add_content" (slice $myURL .Permalink .Title "")}}</div>
      <div class="column-2">{{ .Date.Format "Jan 02, 06" }}</div>
    {{ end }}
    </div></td>
  </tr>
</table>
</div>

{{ define "add_content"}}
  {{ if eq (index . 1) (index . 0)}}
  <span class="you_are_here">{{ index . 2 }}</span>
  {{ else }}
    <a class="crosslink {{ index . 3}}" href="{{ index . 1 | relURL}}">
      {{ index . 2 }}
    </a>
  {{ end }}
{{ end }}



