<!-- need more comments on this page,
- this is currently very hard to parse
-->

{{ $myURL := .Permalink }}
<div id="siteMap" onclick="hideSiteMap()">
  {{ if ne .Type "post"}}
  <div class="marker wide-screen-only">A<br>R<br>C<br>H<br>I<br>V<br>E</div>
  {{ end }}
<table>
<tr>
  <td>
    <table>
      {{ range .Site.Home.Sections}}
      {{ if eq .Title "Posts"}}
      {{ range .Sections}}
        <tr>
          <td>
            {{ template "you_are_here" (slice $myURL .Permalink .Title "categories")}}  
          </td>
          
          {{ range .Pages }}
          <td>
            {{ template "you_are_here" (slice $myURL .Permalink .Title "")}}  
          </td>
          <td>
            <span class="wide-screen-only">{{ .Date.Format "Jan 02" }}</span>
          </td>
          <td>
            {{ if .Params.tags}}{{ range .Params.tags }}
              {{ template "you_are_here" (slice $myURL (printf "%stags/%s/" $.Site.BaseURL (. | urlize) ) (printf "#%s" .) "tags") }}
            {{ end }}{{ end }}
          </td>
          </tr>
          <tr>
          <td></td>
          {{ end }}
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {{ end }}{{ end }}{{ end }}
    </table>
  </td>
  <td class="wide-screen-only">
    <table id="recentPosts">
        {{ range where .Site.Pages "Type" "post"}}
        <tr>
            <td>
              {{ template "you_are_here" (slice $myURL .Permalink .Title "")}}
            </td>
            <td>
                <time>{{ .Date.Format "Jan 02, 06" }}</time>
            </td>
        </tr>
        {{ end }}
    </table>    
  </td>
</tr>

</table>
</div>

{{ define "you_are_here"}}
  {{ if eq (index . 1) (index . 0)}}
  <span class="you_are_here">{{ index . 2 }}</span>
  {{ else }}
    <a class="crosslink {{ index . 3}}" href="{{ index . 1 | relURL}}">
      {{ index . 2 }}
    </a>
  {{ end }}
{{ end }}



