{{ partial "header" . }}
  <body class='single'>
      <div class="mainGrid">


      <a href="https://www.pinterest.com/explore/totoro-png/?lp=true"> <img src="https://i.pinimg.com/736x/6c/99/31/6c9931efca29fa3e3a054ae3e0c13cd6--chibi-totoro-totoro-nursery.jpg" alt="Feeling Lost?"></a>
      <!-- https://orig00.deviantart.net/0fe5/f/2015/147/2/f/watercolor_totoro_by_peterondo-d8uxv0y.png -->
      <!-- https://upload.wikimedia.org/wikipedia/en/7/73/Don_Quixote_%281955%29_by_Pablo_Picasso.jpg -->

      <div class="Title">
          404
      </div>
    </div>
</body>
</html>
