/***********************************/
/***********************************/
/* CSS elements used in the footer */
/***********************************/
/***********************************/

#tagCloud {
  padding-top: 10*$unit-padding;
  line-height: 50%;
}

#footer-credits {
  margin: auto;
  text-align: center;
  padding: 5*$unit-padding;
  img {
    height: 20px;
  }
}

#navBar {
  width: 100%;
  font-size: small;
  text-align: center;
  td {
    column-width: 33%;
    vertical-align: middle;
  }
  td:last-of-type {
    text-align: right;
  }
  td:first-of-type {
    text-align: left;
  }
}
