/***********************/
/***********************/
/* global CSS elements */
/***********************/
/***********************/

//for narrower screens
@media (max-width: 750px) {
  .wide-screen-only {
    display: none;
  }
  
  .footer {
       margin: $unit-margin;
  }
}

body {
  background-color: $background-color;
  font-family: $font-families;
  color: $font-color;
  position: relative;
}

.Title {
  font-size: 3em;
  padding-bottom: $unit-padding;
}

.post {
  text-align: justify;
  hyphens: auto;
}

.date, .read-more {
  font-size: small;
}
