/***********************/
/***********************/
/* global CSS elements */
/***********************/
/***********************/

//for wider screens
@media (min-width: 750px) {
  body.list .mainGrid {
      margin: $unit-margin;
    }
  body.single .mainGrid {
       margin-top: 5*$unit-padding;
  }
}

//for narrower screens
@media (max-width: 750px) {
  .wide-screen-only {
    display: none;
  }
  
  body.single .mainGrid {
       padding: $unit-padding;
       margin: $unit-margin;
  }
  .footer {
       margin: $unit-margin;
  }
}


body {
  background-color: $background-color;
  font-family: $font-families;
  color: $font-color;
  line-height: 150%;
  margin: 0;
  
  &.list .mainGrid {
        font-size: $small-font-size;

        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);//minmax(275px, 1fr));
        grid-template-rows:  repeat(auto-fill, minmax(300px,max-content));
        grid-column-gap: 0.5em;
        grid-row-gap: 1em;
        justify-content: center;	
        
        > * {
          opacity: 0;
          transition: opacity 1s;
        }
        
        .Title {
          padding: 2*$unit-padding;
          align-self:center;
        }

        .cell {
          @include shadow_mouseover(0.5s);
          padding: 2*$unit-padding;
        }
    }

  &.single {
    font-size: $font-size;
    line-height: 175%;

    .mainGrid {
        margin-left: auto;
        margin-right: auto;
        max-width: $max-width;
    }

    .post p {
      padding-bottom: 0.5em;
    }
  }
}

.Title {
  font-size: 3em;
  padding-bottom: $unit-padding;
}

.post {
  text-align: justify;
  hyphens: auto;
}

.tags-display {
  font-size: 75%;
  text-align: right;
  line-height:100%;
  grid-column: 1;
}

.date, .read-more {
  font-size: small;
}
