/***********************/
/***********************/
/* global CSS elements */
/***********************/
/***********************/

//for narrower screens
@media (max-width: 750px) {
  .wide-screen-only {
    display: none;
  }
  
  .footer {
       margin: $unit-margin;
  }
}

<noscript>
  <style>.jsonly { display: none }</style>
</noscript>

body {
  background-color: $background-color;
  font-family: $font-families;
  color: $font-color;
  line-height: 150%;
  position: relative;
}

.Title {
  font-size: 3em;
  padding-bottom: $unit-padding;
}

.post {
  text-align: justify;
  hyphens: auto;
}

.tags-display {
  font-size: 75%;
  text-align: right;
  line-height:100%;
  grid-column: 1;
}

.date, .read-more {
  font-size: small;
}
