/*****************************/
/*****************************/
/* CSS elements for markdown */
/*****************************/
/*****************************/
.medium {
    max-width: 50%;
  img {
      max-width: 100%;
  }
}

.large {
    max-width: 80%;
    margin: auto;
  img {
      max-width: 100%;
  }
}


.xlarge {
  padding: 0px;
  margin: 0px;
  img {
    width: 100%;
  }
}
