/*****************************/
/*****************************/
/* CSS elements for markdown */
/*****************************/
/*****************************/

figure {
  height: max-content;
  margin: auto;
  
  img {
    display: block;
    width: 100%;
  }
  
  figcaption {
    text-align: left;
    font-size: small;
    font-style: italic;
    height: auto;
    line-height: 100%;
    padding: $unit-padding;
    color: $font-color;
  }
}
  
.xsmall {
    max-width: 30%;
}

.small {
    max-width: 40%;
}

.medium {
    max-width: 50%;
}


@media (max-width: 750px) {
  figure {
    text-align: center;

    img {
        max-width: 100%;
    }
  }
  
.large {
      max-width: 80%;
  }


.xlarge {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
}


@media (min-width: 750px) {
  figure {
    a {
      @include shadow;
      display: block;
    }
  }
  
  .left {
    float: left;
    margin: 0;
    margin-right: 2*$unit-margin;
  }

  .right {
    float: right;
    margin: 0;
    margin-left: 2*$unit-margin;
  }

  .xleft {
    float: left;
    margin-right: 2*$unit-margin;
    margin-left: -10*$unit-margin;
  }

  .xright {
    float: right;
    margin-left: 2*$unit-margin;
    margin-right: -10*$unit-margin;
  }

  .center {
    margin: auto;
    text-align: center;
  }

  .large {
      max-width: 80%;
      margin: auto;
      text-align: center;
  }


  .xlarge {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
}



