/*********************************/
/*********************************/
/* CSS elements used in the tree */
/*********************************/
/*********************************/
#siteMap {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.98);
    overflow-y: scroll;
    transition: 0.2s ease-in-out;
    text-align: left;

    font-family: monospace;

    > table{
        margin:auto;
        margin-top:  5*$unit-margin;
            th {
                padding-bottom: 1em;
            }
        }
    
    td {
         font-size: 90%;
         vertical-align: top;
         line-height: 150%;
         padding-left: $unit-padding;
         padding-right: $unit-padding;
      }

    .you_are_here {
        color: $hyperlink-hover; //darken(red,20%);
        text-decoration: underline;
      }
      
    #recentPosts {
        margin-left: 10*$unit-margin;
        background-color: honeydew;
    }
      
}
