/*********************************/
/*********************************/
/* CSS elements used in the tree */
/*********************************/
/*********************************/
#siteMap {
    height: 100%;
    width: 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.98);
    overflow-y: hidden;
    transition: 0.2s ease-in-out;
    
    text-align: left;
    font-family: monospace;
    
    line-height: 1;

  #marker {
    position: fixed;
    width: max-content;
    background-color: $hyperlink-old;
    color: $background-color;
    transition: 0.2s ease-in-out;
    }
    
    table {
      font-size: small;
      width: 90%;
      margin: 5*$unit-padding;
      td {
        vertical-align: top;
        &:last-of-type {
          background-color: honeydew;
        }
      }
    }
  
  .you_are_here {
      color: $hyperlink-hover; //darken(red,20%);
      text-decoration: underline;
    }
}

.genericGrid {
  display: grid;
  > * {
    padding: 0.5em;
  }
  .column-1 {
    grid-column:1;
  }
  .column-2 {
    grid-column: 2;
  }
  .column-3 {
    grid-column: 3;
  }
  .column-4 {
    grid-column: 4;
  }
  .column-5 {
    grid-column: 5;
  }
}
