// $page-background-color: whitesmoke; //#f0f0f0;
$background-color: #ffffff;

$hyperlink-new: #2583FF;
$hyperlink-old: #2583AD;
$hyperlink-hover: #d50a83;

$unit-padding: 10px;
$unit-margin: 10px;

$font-size: 18px;
$small-font-size: 16px; //for list pages
$font-families: "Helvetica Neue", "Helvetica", "sans-serif";
$font-color: black;

$max-width: 750px;
