// $page-background-color: whitesmoke; //#f0f0f0;
$background-color: #ffffff;
$font-color: black;
$hyperlink-new: #2583FF;
$hyperlink-old: #2583AD;
$hyperlink-hover: #d50a83;

$unit-padding: 10px;
$unit-margin: 10px;

$font-size: 110%;
$small-font-size: 100%; //for list pages
$font-families: "Helvetica Neue", "Helvetica", "sans-serif";

$max-width: 750px;
